*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#F8F5F0;
}

.header{
    background: #fff;
    backdrop-filter: blur(10px);
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    height:90px;
    position: sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 15px rgba(0,0,0,0.05);
}

.header nav{
    display:flex;
    gap:20px;
}

.header a{
    text-decoration:none;
    color:#1B4332;
    font-size:17px;
    font-weight:600;
    transition:0.3s;
}

.header a:hover{
    color:#0E9647;
}

.header h4{
    font-size:20px;
}

.biblioteca{
    width:85%;
    max-width:1200px;
    margin:40px auto;
}

.texto-topo{
    width:100%;
    min-height:180px;
    background:#234f27;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
    margin-bottom:20px;
}

.texto-topo p{
    color:white;
    font-size:20px;
    font-weight:bold;
    line-height:1.6;
    max-width:750px;
}

.area-filtros{
    background:#234f27;
    border-radius:12px;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:40px;
    margin-bottom:30px;
}

.filtros h4{
    color:white;
    margin-bottom:10px;
    font-size:14px;
}

.grupo-botoes{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
}

.grupo-botoes button{
    border:none;
    background:#d9d9d9;
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
    cursor:pointer;
    transition:.3s;
}

.grupo-botoes button:hover{
    transform:scale(1.05);
}

.busca{
    display:flex;
    justify-content:center;
    margin-bottom:40px;
}

.busca input{
    width:500px;
    max-width:90%;
    padding:12px 20px;
    border:none;
    border-radius:30px;
    outline:none;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

#cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 220px));
    justify-content:center;
    gap:30px;
}

.card-noticia{
    grid-column: span 2;
    width:100%;
    background:#234f27;
    border-radius:15px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    text-decoration:none;
    color:white;
    transition:.3s;
    padding:0;
}

.card-noticia .conteudo{
    padding:35px 30px 45px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:18px; 
}

.card-noticia:hover{
    transform:translateY(-5px);
    background:#2E6A35;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.card-noticia .icone{
    font-size:55px;
    margin-bottom:20px;
}

.card-noticia h3{
    font-size:30px;
    margin:0;
    margin-top: 15px;
    font-weight:bold;
    text-align:center;
}

.card-noticia p{
    font-size:15px;
    margin:0;
    margin-bottom: 10px;
    color:#E8F5E9;
    text-align:center;
}

.card-noticia img{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
    border-radius:15px 15px 0 0;
}

.card-tutorial{
    width:100%;
    min-height:220px;
    background:#fff;
    border-radius:20px;
    padding:25px;
    text-decoration:none;
    color:#1B4332;
    box-shadow:0 6px 18px rgba(0,0,0,.08);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:22px;
    text-align:center;
    transition:.3s;
    box-sizing:border-box;
}

#cards.tutoriais{
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    max-width: 800px;
    margin: 0 auto;
}

.tutorial-link{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:22px;
    flex:1;

    text-decoration:none;
    color:#1B4332;
}

.tutorial-link:link,
.tutorial-link:visited,
.tutorial-link:hover,
.tutorial-link:active{
    color:#1B4332;
    text-decoration:none;
}

.card-tutorial:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 28px rgba(0,0,0,.15);
}

.video-circle{
    width:90px;
    height:90px;
    border-radius:50%;
    background:#0E9647;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.3s;
}

.card-tutorial:hover .video-circle{
    transform:scale(1.08);
    background:#0b7c3b;
}

.video-circle span{
    color:#fff;
    font-size:42px;
    margin: 0; 
}

.card-tutorial h3{
    font-size:18px;
    font-weight:600;
    line-height:1.4;
}

.card-link{
    text-decoration:none;
    color:inherit;
}

.card{ 
    width:220px;
    min-height:100px;
    background:#d9d9d9;
    border-radius:10px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    height:120px;
    object-fit:cover;
    background:#4f8b43;
    display: block;
}

.card-conteudo{
    padding:15px;
    flex:1;
    display:flex;
    flex-direction:column;
}

.card h3{
        text-align:center;
        color:#000;
        margin-bottom:10px;
        font-size:17px;
        display:flex;
        align-items:center;
        justify-content:center;
}

.card p{
    text-align:center;
    color:#000;
    font-size:15px;
    margin-bottom:3px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sem-imagem{
    width:100%;
    height:180px;
    background:#4f8b43;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:70px;
    color:white;
}

.tipo{
    display:none;
}

.status{
    background:none;
    color:#000;
    text-align:right;
    padding:0;
    font-size:13px;
}

.sem-resultados{
    font-size:18px;
    color:#666;
}

.btn-abrir{
    width:100%;
    margin-top:10px;
    background:#234f27;
    color:white;
    border:none;
    border-radius:8px;
    padding:10px;
    cursor:pointer;
}

.footer{
    width:100%;
    height:90px;
    background:#234f27;
    color:white;
    display:flex;
    align-items:center;
    padding-left:35px;
    margin-top:60px;
}

.footer h2{
    font-size:32px;
}

.status-card{
    margin-top:auto;
}

.status-card label{
    display:block;
    margin-bottom:5px;
    font-size:13px;
    font-weight:bold;
}

.status-card select{
    width:100%;
    padding:8px;
    border:1px solid #ccc;
    border-radius:8px;
    cursor:pointer;
}